<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h5>Wellcome</h5>

    <h4>{{ name }}</h4>

    {% if age > 18 %}
    <h5>El usuario es mayor de edad.</h5>
    {% else %}
    <h5>El usuario es menor de edad.</h5>
    {% endif %}

    {% for item in list %}
    <h4> Item: {{item}}</h4>
    {% endfor %}

  </body>
</html>
